[submodule "TabApp"]
	path = TabApp
	url = https://github.com/roznalex/TabApp
[submodule "orderApp"]
	path = orderApp
	url = https://github.com/roznalex/orderApp
[submodule "breakoutGame"]
	path = breakoutGame
	url = https://github.com/roznalex/breakoutGame
[submodule "rss-reader"]
	path = rss-reader
	url = https://github.com/roznalex/rss-reader
